// place global styles here

* {
  box-sizing: border-box;
} // closes *

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
} // closes html

body {
  background-image: url(../../assets/pool_table.png);
  background-repeat: repeat;
}
